#countDownTimer {
    font-weight: bold;
    font-size: larger;
    color: green; 
}

body {
    background: linear-gradient(to right, blue, lightblue);
    color: lightgreen;
  }

#loginTitleStyle {
    color: lightseagreen
}

.blinking {

    animation: opacity 3s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}



